%div.project{ class: project_classes(project: project) }
  %h2= project_description(project: project)
  %ul.team-members
    - assignments.each do |assignment|
      - user = users.detect{ |user| user.id == assignment.user_id }
      = render 'user', user: user
