%div.screen
  %div.projects
    - if @schedule.projects.empty?
      %div
        = I18n.t('errors.projects.missing')
    - else
      - @schedule.projects.each do |project|
        - project_assignments = project.assignments(assignments: @schedule.todays_assignments)

        - if project_assignments.present?
          = render 'project', project: project, assignments: project_assignments, users: @schedule.users

    - @schedule.ooo_assignments.each_pair do |ooo_name, assignments|
      = render 'project', project: Project.new(name: ooo_name, project_state: 'leave'), assignments: assignments, users: @schedule.users

    - if @schedule.users_without_assignments.present?
      = render 'unassigned_users', users: @schedule.users_without_assignments
