%div.screen
  %div.projects
    -# %div.project.oncall
    -# %div.project.holiday
    -# %div.project{ class: 'proejct-color' }
    - @projects_and_users.each do |project, users|
      %div.project.unassigned
        %h2= project['name']
        %ul.team-members
          - users.each do |user|
            %li= user['display_name']
