-# Schedule
-#
-# MyTVH
-# Unassigned
-# dxw - On call

%div.screen
  %div.projects
    -# %div.project.oncall
    -# %div.project.holiday
    -# %div.project{ class: 'proejct-color' }
    %div.project.unassigned
      %h2 Project name
      %ul.team-members
        %li Team member 1
        %li Team member 2
