/*
 * Simple CSS stylesheet for a navigation bar and flash messages.
 */
main {
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  }
header {
  border: 1px solid #d4d4d4;
  background-image: linear-gradient(to bottom, white, #f2f2f2);
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ul.nav li {
  display: inline;
}
ul.nav li a {
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
}
.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

@font-face {
  font-family: 'FoundersGroteskRegular';
  font-weight: bold;
  src: font-url('FoundersGroteskTextWeb-Regular.woff2') format('woff2');
  src: font-url('FoundersGroteskTextWeb-Regular.woff') format('woff');
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "FoundersGroteskRegular", sans-serif;
  width: 100%;
  background: #000;
  color: #fff; /* dxw blue = #1ba4de */
}

.screen {
  top: 1vh;
  width: 100vw;
  height: 98vh;
  padding: 0;
  margin: 0;
  position: absolute;
  overflow: hidden;
}

h2 {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  background-color: rgb(143, 146, 148);
  text-shadow: 1px 1px 3px #000;
}


ul {
  padding: 10px;
}

ul, li {
  margin:0;
  padding: 0;
  list-style: none;
}

.plane {
  vertical-align: bottom;
  height: 30px;
  -moz-transform: rotate(-17deg);
  -o-transform: rotate(-17deg);
  -webkit-transform: rotate(-17deg);
  -ms-transform: rotate(-17deg);
  transform: rotate(-17deg);
}

.phone {
  height: 29px;
  vertical-align: bottom;
}

.cloud {
  height: 24px;
  vertical-align: baseline;
}
